@font-face {
    font-family: "roboto-regular";
    src: url(fonts/Roboto-Regular.ttf);
}    
body{
   background: #CAD0D4 ;
}
body{
    font-family:"roboto-regular" ;
    overflow-x: auto;
}
.btn-custom{
    background: #64d2ff;
}